/*the margin and padding are set to zero to ensure the whole viewport is used
the height and width are also set to 100% for the information to use up the whole view port*/
body, 
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

/*Flex-box is used to make responsiveness easier*/
.container{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

/*The width is set to 100% to make responsiveness easier*/
#header{
  background-color: #fbfbfb;
  width: 100%;
  padding: 5px;
 
}
/*Setting the logo to 40% makes it automatically adjust to the screen size*/
.logoImage{
  width: 40%;
}

/*Float makes the Name move to the right side of the logo*/
#myName{
  float:right;
  font-size: 1.7em;
  margin-top: 0px;
  margin-right: 5px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 100;
  line-height: 32px;
}


#myWork{
  float: right;
  font-size: 1em;
  margin-top: -27px;
  margin-right: 5px;
  font-family: 'Open sans', sans-serif;
  font-weight: 100;
  line-height: 20px;
}

/*All the information containers width are set to 100%*/
.intro_holder,.featured_holder1,.featured_holder3,.featured_holder2,footer,#contact{
  width: 100%;
}

/*Opacity reduces the intensity of view of the image*/
.mainImage{
  width: 100%;
  opacity: 0.7;
}


#introWordHolder{
  height: 98px;
  width: 100%;
  background-color: black;
  margin-top: -116px;
  opacity: 0.7;
}
#introWord{
  color: white;
  font-family: "Shadows Into Light";
  text-align: center;
  font-size: 1em;
  padding: 10px 70px;
}

/*The images are set to 50% depending on the size of view*/
.websites{
  width: 50%;
}

.rest-disc{
  float: right;
  width: 48%;
  padding: 0.5px;
  margin-top: -10px;
}
.school-disc{
  float: left;
}
.siteInfo{
  font-family: "Montserrat";
  font-size: 0.85em;
}

/*the div is used to draw the line*/
.line{
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  height: 5px;
  background-color: rgb(0, 0, 0)
}
#aboutme{
  margin-bottom: -2px;
  font-size: 1em;
  font-family: 'Open sans', sans-serif;
  font-weight: 100;
  line-height: 20px;
  margin-left: 20px;
}
.itsMe{
  margin-top: -1px;
  padding: 5px;
  float: none;
}
/*These contain the icons of contact information*/
.skills{
  width: 30%;
  float: left;
  margin-top: 10px;
  padding-right: 9px;
}

.github,.medium,.phone,.gmail{
  width: 10%;
  float: right;
  margin-top: 10px;
  padding-right: 50px;
  padding-bottom: 20px;
}
